@using Microsoft.Extensions.Options
@inject IPageRegistry PageRegistry;
@inject List<ChannelModel> Channels;
@inject IOptions<Config> Config;
@{
  string siteTitle = "YouTube Archive";
  if (Channels.Count == 1)
  {
    siteTitle = Channels[0].Channel.Title;
  }

  var pageTitle = siteTitle;
  var page = PageRegistry.FindOne(p => p.Path.Equals(ViewContext.HttpContext.Request.Path));
  if (page != null && page.State != null)
  {
    if (page.State is ITitleHint htmlTitle)
    {
      pageTitle = htmlTitle.Title + " - " + pageTitle;
    }
  }
}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>@pageTitle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="@Url.Content("~/dist/styles.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="bg-light mb-4">
  <div class="navbar navbar-expand">
    <div class="container">
      <a href="@Url.Content("~/")" class="navbar-brand d-flex">
         <strong>@siteTitle</strong>
      </a>
      <ul class="navbar-nav">
        @if (Config.Value.HasTopics)
        {
          <li class="nav-item">
            <a class="nav-link" href="@Url.Content("~/topics")">topics</a>
          </li>
        }
      </ul>
    </div>
  </div>
</header>
<main>
  @RenderBody()
</main>
<script src="@Url.Content("~/dist/scripts.js")"></script>
@RenderSection("scripts", false)
</body>
</html>
